body::after {
	content: '';
	position: fixed;
	height: var(--sp-height, 3px);
	background-color: var(--sp-color, hotpink);
	top: var(--sp-top, 0);
	left: var(--sp-left, 0);
	right: var(--sp-right, 0);
	animation: transform 200ms ease-out;
	transform-origin: var(--sp-origin-x, 0) var(--sp-origin-y, 50%);
	transform: scaleX(var(--sp-progress, 0));
}
